<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>kooperasimercubuana.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CBD798B221E65BB600C5EEC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBD798C621E65BB600C5EEC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBD798D121E65BB700C5EEC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
